
/* MEDIA DE 430PX ABERTURA */

@media screen and (max-width: 430px) {
    header .title p{
        font-family: monospace;
        width: 80%;
        max-width: 600px;
        font-size: 16px;
    }
    header.header-form{
        margin-top: 0px;
        
    }
}

/* MEDIA DE 430PX FECHAMENTO */

body{
    background-image: url(../img/city2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
}

.header-form{
    margin-top: 100px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 10px;
    
}
.title{
    width: 100%;
    height: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 10px solid tomato;
    border-radius: 12px;
    width: 80%;
}
.title p{
    font-family: monospace;
    width: 80%;
    
    font-size: 16px;
}
.body-form{
    margin-top: 40px;
    height: auto;
}
.body-form input{
    width: 80%;
    flex-flow: row;
    max-width: 80px;
    border: none;
    box-shadow: 1px 1px 5px #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}
.footer-form{
    height: auto;
    
}
.footer-form button{
    margin-top: 40px;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;

}

.footer-form button:hover{
    box-shadow: 2px 2px 10px green;
    transition: .3s;
}
#text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px 0 10px;
    width: 80%;
}
.botoes-redes{
    margin-top: 10px;
}
.botoes-redes button{
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(15, 155, 214);
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgb(15, 155, 214);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.botoes-redes button:hover{
   
    box-shadow: 0 0 15px rgb(15, 155, 214);
    transition: all .4s;
}
